APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=postgres
DB_SSLMODE=require

JWT_SECRET=

MAILJET_BASE_URL=https://api.mailjet.com
MAILJET_API_KEY=
MAILJET_SECRET_KEY=
MAILJET_SENDER_EMAIL=
MAILJET_SENDER_NAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BMKG_BASE_URL=https://api.bmkg.go.id
BMKG_FORECAST_ENDPOINT=publik/prakiraan-cuaca